{%- if site.template.widgets contains "share" -%}
<div class = "rightElem rightBtns wxshare">
    
    {% include functions/get_share.html %}

    {% assign twShareLink = "http://twitter.com/share?url=" | append: surl | append: "&text=" | append: stitle | append: "&via=" | append: origin | uri_escape %}

    <a class = "twitter-share-button btn nf nf-mdi-twitter" target = "_blank" href = "https://twitter.com/r_wnl">
    </a>
</div>

<style>
    @media screen and (max-width: 650px){
        .wxshare{
            display: none;
        }
    }
</style>
{%- endif -%}
